<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('home.index') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                <li/>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('department.index') }}">Département</a>
                <li/>
            </ul>

        </div>
    </div>
</nav>