{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block title %}Apply for a new post{% endblock %}
{% block body %}
<div class="container mt-4">
=======
{% block body %}
{% block title %}<h1 class="apply">Apply for a new post</h1>{% endblock %}
<div class="form-group .row">
>>>>>>> e8f583a1f16d836324a585eff9c10961b1dec485
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</div> 
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> e8f583a1f16d836324a585eff9c10961b1dec485
