.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
.chartPie {
    width: 250px;
    height: 250px; 
    display:inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    }
h1, .women{
    margin: auto;
    text-align: center;

}
h1 {
    margin-bottom: 40px !important;
    margin-top: 20px !important;
}
.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-partner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.body-partner tr:nth-child(3) {
    margin-bottom: 40px;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.form-control{
    width: 100% !important;
}
#offer_Submit{
    margin-top: 20px;
}
