{% extends 'base.html.twig' %}

{% block title %}Département{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="d-flex justify-content-center mb-4">Les départements </h1>
        <ul>
            {% for department in departments %}
                <li>{{department.deptName}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}