{% extends 'base.html.twig' %}

{% block title %}Département{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1 class="d-flex justify-content-center mb-4">Nom du département  </h1>




    </div>
{% endblock %}
